@{
    ViewBag.Title = "About this app and contact information";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Support:</strong>   <a href="mailto:nvbijsterveldt@hotmail.com">nvbijsterveldt@hotmail.com</a><br />
</address>
